:root {
  --background-color: #eeeded;
  --background-color-mob-nav: #e5e2e3;
  --first-main-color: #f6f7f7;
  --second-main-color: #f3848c;
  --third-main-color: #3c322d;
  --stars-color: #edd501;

  --monserrat-ff: 'Montserrat', sans-serif;
  --monserrat-alternates-ff: 'Montserrat Alternates', sans-serif;
  --roboto-ff: 'Roboto', sans-serif;
  --caveat-brush-ff: 'Caveat Brush', cursive;

  --transition-params: 250ms ease-in-out;
}
