<footer class="footer">
    <h2 class="footer__title">Contact</h2>
    <p class="footer__form-label">We will answer any question!</p>
    <form class="footer__form" action="">
        <input class="footer__input-email" type="text" name="email" placeholder="Email">
        <textarea class="footer__input-question" name="question" rows="1" placeholder="Type your question"></textarea>
        <button class="footer__btn btn" type="submit">Send</button>
    </form>

    <ul class="footer__socials socials">
        <li class="socials__item">twitter</li>
        <li class="socials__item">instagram</li>
        <li class="socials__item">facebook</li>
    </ul>
    <div class="footer-wrapper">
        <p class="footer__info-numb">(910)222-8855</p>
        <p class="footer__info-city">New York</p>
    </div>
</footer>