<header class="header">
    <a class="header__loog" href="#">
        <img class="header__image" src="#" alt="#">
    </a>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="#"> About us</a></li>
            <li class="nav__item"><a class="nav__link" href="#"> Program</a>/li>
            <li class="nav__item"><a class="nav__link" href="#"> Speakers</a></li>
            <li class="nav__item"><a class="nav__link" href="#"> Price</a></li>
            <li class="nav__item"><a class="nav__link" href="#"> Reviews</a></li>
            <li class="nav__item"><a class="nav__link" href="#"> Contacts</a></li>
        </ul>
    </nav>
    <button class="nav__button nav__button--mobile" type="button"></button>
</header>