<section class="hero">
    <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
    <p class="hero__text">Hosted by Eva Green</p>
    <button class="btn hero__btn" type="button">Register</button>
    <ul class="socials hero__socials">
        <li class="socials__item"><a class="socials__link" href="#"></a></li>
        <li class="socials__item"><a class="socials__link" href="#"></a></li>
        <li class="socials__item"><a class="socials__link" href="#"></a></li>
    </ul>
</section>