<section class="price">
    <h2 class="price__title">Price</h2>
    <div class="price__cards-set">

        <!-- first card -->
        <div class="price__card">
            <p class="price__card-title">Easy start</p>
            <ul class="price__card-list">
                <li class="price__card-item">features of yeast dough preparation</li>
                <li class="price__card-item">preparation of liquid caramel
                    for stuffing</li>
                <li class="price__card-item">preparation of raspberry and strawberry filling</li>
                <li class="price__card-item">fry and glaze donuts</li>
            </ul>
            <button class="price__card-btn" type="button">Register</button>
        </div>

        <!-- second card -->
        <div div class="price__card">
            <p class="price__card-title">I want delicious donuts</p>
            <ul>
                <li class="price__card-item">features of yeast dough preparation</li>
                <li class="price__card-item">preparation of liquid caramel
                    for stuffing</li>
                <li class="price__card-item">preparation of raspberry and strawberry filling</li>
                <li class="price__card-item">melt chocolate for decoration</li>
                <li class="price__card-item">fry and glaze donuts</li>
                <li class="price__card-item">donut decoration. painting and various techniques</li>
            </ul>
            <button class="price__card-btn" type="button">Register</button>
        </div>

        <!-- Third card -->
        <div div class="price__card">
            <p class="price__card-title">Premium</p>
            <ul>
                <li class="price__card-item">features of yeast dough preparation</li>
                <li class="price__card-item">preparation of liquid caramel
                    for stuffing</li>
                <li class="price__card-item">preparation of raspberry and strawberry filling</li>
                <li class="price__card-item">melt chocolate for decoration</li>
                <li class="price__card-item">fry and glaze donuts</li>
                <li class="price__card-item">donut decoration. painting and various techniques</li>
                <li class="price__card-item">After party and donut tasting with speakers</li>
                <li class="price__card-item">2 private lessons with one of the speakers</li>
            </ul>
            <button class="price__card-btn" type="button">Register</button>
        </div>
    </div>
</section>