<section>
    <h2>Price</h2>
    <div>
        <p>Easy start</p>
        <ul>
            <li>features of yeast dough preparation</li>
            <li>preparation of liquid caramel
                for stuffing</li>
            <li>preparation of raspberry and strawberry filling</li>
            <li>fry and glaze donuts</li>
        </ul>
        <button type="button">Register</button>
    </div>

    <div>
        <p>I want delicious donuts</p>
        <ul>
            <li>features of yeast dough preparation</li>
            <li>preparation of liquid caramel
                for stuffing</li>
            <li>preparation of raspberry and strawberry filling</li>
            <li>melt chocolate for decoration</li>
            <li>fry and glaze donuts</li>
            <li>donut decoration. painting and various techniques</li>
        </ul>
        <button type="button">Register</button>
    </div>

    <div>
        <p>Premium</p>
        <ul>
            <li>features of yeast dough preparation</li>
            <li>preparation of liquid caramel
                for stuffing</li>
            <li>preparation of raspberry and strawberry filling</li>
            <li>melt chocolate for decoration</li>
            <li>fry and glaze donuts</li>
            <li>donut decoration. painting and various techniques</li>
            <li>After party and donut tasting with speakers</li>
            <li>2 private lessons with one of the speakers</li>
        </ul>
        <button type="button">Register</button>
    </div>
</section>