<section class="program">
    <div class="program__text-container">
        <h2 class="program__title">Program</h2>
        <p class="program__paragraph">
            Indulge in this immersive sweet treat experience with The Chef Donut Queen
            in her New York donut shop!
        </p>
        <ul class="program__list">
            <li class="program__item">A stand up history of donuts</li>
            <li class="program__item">Make 3 donut flavors of your choice</li>
            <li class="program__item">Enjoy all-you-can-eat donuts</li>
            <li class="program__item">Cocktail pairings and coffee included</li>
            <li class="program__item">Photoshoot by professional photographer</li>
            <li class="program__item">Secret receipt of cooking from Eva</li>
            <li class="program__item">All products are included in the price</li>
        </ul>
        <p class="program__paragraph">
            Come with your dear people and friends
            and you will spend an unforgettable time and
            will become a real professional
            in donuts cooking!
        </p>
    </div>
    <div class="program__card-set">
        <ul class="program__card-list">
            <li class="program__card-item">
                <div class="card">
                    <p class="card__title">Type of the event</p>
                    <p class="card__text">Cooking classes</p>
                </div>
            </li>
            <li class="program__card-item">
                <div class="card">
                    <p class="card__title">Number of guests</p>
                    <p class="card__text">1 to 20</p>
                </div>
            </li>
            <li class="program__card-item">
                <div class="card">
                    <p class="card__title">Type of the event</p>
                    <p class="card__text">18:30 (2.5 hours)</p>
                </div>
            </li>
            <li class="program__card-item">
                <div class="card">
                    <p class="card__title">The host speaks</p>
                    <p class="card__text">English, French</p>
                </div>
            </li>
        </ul>
    </div>

</section>