<section>
    <h2>Registration</h2>
    <div>
        <div>
            <img src="" alt="">
            <p>May 23, 11:00</p>
            <p>New York</p>
        </div>
        <form action="">
            <p>Apply your personal info
                for registration</p>
            <input type="text" placeholder="Your name" name="name" placeholder="Your name">
            <input type="number" name="number" placeholder="Phone number">
            <input type="text" name="email" placeholder="Email">
            <button type="submit">Register</button>
        </form>
    </div>
</section>