<section class="registration">
    <h2 class="registration__title">Registration</h2>
    <div class="registration__wrapper">
        <div class="registration__date">
            <img class="registration__date-image" d src="#" alt="">
            <p class="registration__date-time">May 23, 11:00</p>
            <p class="registration__location">New York</p>
        </div>
        <form class="registration__form " action="">
            <p class="registration__form-label">Apply your personal info
                for registration</p>
            <input class="registration__input-name" type="text" placeholder="Your name" name="name"
                placeholder="Your name">
            <input class="registration__input-number" type="number" name="number" placeholder="Phone number">
            <input class="registration__input-email" type="text" name="email" placeholder="Email">
            <button class="registration__btn btn" type="submit">Register</button>
        </form>
    </div>
</section>