<section class="reviews">
    <h2 class="reviews__title">Reviews</h2>
    <div class="revue revue--active">
        <img class="revue__photo" re src="#" alt="">
        <div class="revue__stars">
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
        </div>
        <p class="revue__comment">
            Last time I have visited a cooking course by Eva
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen!
            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
        </p>
    </div>

    <div class="revue ">
        <img class="revue__photo" src="#" alt="">
        <div class="revue__stars">
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
        </div>
        <p class="revue__comment">
            Last time I have visited a cooking course by Eva
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen!
            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
        </p>
    </div>

    <div class="revue revue--active">
        <img class="revue__photo" src="#" alt="">
        <div class="revue__stars">
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
            <svg class="revue__star"></svg>
        </div>
        <p class="revue__comment">
            Last time I have visited a cooking course by Eva
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
            kitchen!
            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
        </p>
    </div>

    <p class="revue__number">2/15</p>
</section>