<section>
    <h2>Speakers</h2>
    <ul>
        <li>
            <img src="" alt="">
            <p>Molly Rivera</p>
            <p>Pastry chef, master chocolatier of Spain,</p>
        </li>

        <li>
            <img src="" alt="">
            <p>Sophia Clark</p>
            <p>Сulinary school pastry chef</p>
        </li>

        <li>
            <img src="" alt="">
            <p>Isabella Taylor</p>
            <p>Сonsultant in the art of confectionery</p>
        </li>

        <li>
            <img src="" alt="">
            <p>Evelyn Miller</p>
            <p>Master- chocolatier
                in Spain</p>
        </li>


    </ul>
</section>