<section class="speakers">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__cards-list">
        <li class="speakers__card speaker">
            <img class="speaker__image" src="#" alt="">
            <p class="speaker__name">Molly Rivera</p>
            <p class="speaker__job-position">Pastry chef, master chocolatier of Spain,</p>
        </li>

        <li class="speakers__card speaker">
            <img class="speaker__image" src="#" alt="">
            <p class="speaker__name">Sophia Clark</p>
            <p class="speaker__job-position">Сulinary school pastry chef</p>
        </li>

        <li class="speakers__card speaker">
            <img class="speaker__image" src="#" alt="">
            <p class="speaker__name">Isabella Taylor</p>
            <p class="speaker__job-position">Сonsultant in the art of confectionery</p>
        </li>

        <li class="speakers__card speaker">
            <img class="speaker__image" src="#" alt="">
            <p class="speaker__name">Evelyn Miller</p>
            <p class="speaker__job-position">Master- chocolatier
                in Spain</p>
        </li>


    </ul>
</section>